<h1>Testing graphs</h1>

<div class="panel panel-default">
	<div class="panel-heading">Visualization</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-8">graph</div>

			<form>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<%= select_tag 'Characters', options_from_collection_for_select(@characters, 'id', 'character_name') %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<input type="radio" name="univariate"> Univariate
						</div>
						<div class="col-md-6">
							<input type="radio" name="univariate"> Bivariate
						</div>
					</div>
					<!-- Placeholders below -->
					<p>Note: If Bivariate is selected, show choices below</p>
					<p>Can only select 1 from user and 1 from Character</p>
					<strong>User Codes</strong></br>
					<input type = "radio" name="user-code"> Gender</input><br>
<!-- 					<ol>
						<li>Very Masculine</li>
						<li>Masculine</li>
						<li>Neutral</li>
						<li>Feminine</li>
						<li>Very Feminine</li>
						<li>Prefer not to state</li>
					</ol> -->
					<input type = "radio" name="user-code"> Race</input><br>
<!-- 					<ol>
						<li>Asian</li>
						<li>Black</li>
						<li>Latinx</li>
						<li>Middle-Eastern</li>
						<li>Mixed</li>
						<li>White</li>
						<li>Prefer not to state</li>
					</ol> -->
					<strong>Character Codes</strong>
					<input type = "radio" name="character-code">Apparent Gender</input><br>
					<ol>
						<input type = "checkbox">Very Masculine</input><br>
						<input type = "checkbox">Masculine</input><br>
						<input type = "checkbox">Neutral</input><br>
						<input type = "checkbox">Feminine</input><br>
						<input type = "checkbox">Very Feminine</input><br>
						<input type = "checkbox">Prefer not to state</input><br>
					</ol>
					<input type = "radio" name="character-code">Apparent Race</input>
					<ol>
						<input type = "checkbox">Asian</input><br>
						<input type = "checkbox">Black</input><br>
						<input type = "checkbox">Green</input><br>
						<input type = "checkbox">Latinx</input><br>
						<input type = "checkbox">Middle-Eastern</input><br>
						<input type = "checkbox">Mixed</input><br>
						<input type = "checkbox">White</input><br>
						<input type = "checkbox">I don't know</input><br>
					</ol>
					<input type = "radio" name="character-code">Apparent Species</input>
					<ol>
						<input type = "checkbox">Cyborg</input><br>
						<input type = "checkbox">Elf</input><br>
						<input type = "checkbox">Goblin</input><br>
						<input type = "checkbox">Human</input><br>
						<input type = "checkbox">Half-Genie</input><br>
						<input type = "checkbox">Vampire</input><br>
						<input type = "checkbox">I don't know</input><br>
					</ol>

					<input type="submit">
				</div>
			</form>
		</div>
	</div>
</div>