<h1>Testing graphs</h1>
<% def getIssacID() 
    return Character.select('id').where(:name => "Isaac Clarke")[0].id 
  end %> 

<div class="panel panel-default">
	<div class="panel-heading">Visualization</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-8">graph</div>
			<%= pie_chart Read.where(:character_id => getIssacID()).group(:aprnt_gender).count %>

			<form>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<%= select_tag 'Characters', options_from_collection_for_select(@characters, 'id', 'character_name') %>
							</div>
						</div>
					</div>
					<strong>Character Codes</strong><br>
					<input type = "radio" name="character-code">Apparent Gender</input><br>
					<input type = "radio" name="character-code">Apparent Race</input><br>
					<input type = "radio" name="character-code">Apparent Species</input><br>
					<br>
					<strong>User Codes</strong></br>
					<p> Gender</p>
					<ol>
						<input type = "checkbox">Very Masculine</input><br>
						<input type = "checkbox">Masculine</input><br>
						<input type = "checkbox">Neutral</input><br>
						<input type = "checkbox">Feminine</input><br>
						<input type = "checkbox">Very Feminine</input><br>
						<input type = "checkbox">Prefer not to state</input><br>
					</ol>
					<p> Race</p>
					<ol>
						<input type = "checkbox">Asian</input><br>
						<input type = "checkbox">Black</input><br>
						<input type = "checkbox">Latinx</input><br>
						<input type = "checkbox">Middle-Eastern</input><br>
						<input type = "checkbox">Mixed</input><br>
						<input type = "checkbox">White</input><br>
						<input type = "checkbox">Prefer not to state</input><br>
						<input type="submit">
					</ol>
				</div>
			</form>
		</div>
	</div>
</div>