<h1>Testing graphs</h1>

<div class="panel panel-default">
	<div class="panel-heading">Visualization</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-8">graph</div>

			<form>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" placeholder="Search character" class="form-control" id="srch">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<input type="radio" id="univariate"> Univariate
						</div>
						<div class="col-md-6">
							<input type="radio" id="univariate"> Bivariate
						</div>
					</div>
					<!-- Placeholders below -->
					<p>Note: If Bivariate is selected, show choices below</p>
					<p>Can only select 1 from user and 1 from Character</p>
					<strong>User Codes</strong></br>
					<p>Gender</p>
					<ol>
						<li>Very Masculine</li>
						<li>Masculine</li>
						<li>Neutral</li>
						<li>Feminine</li>
						<li>Very Feminine</li>
						<li>Prefer not to state</li>
					</ol>
					<p>Race</p>
					<ol>
						<li>Asian</li>
						<li>Black</li>
						<li>Latinx</li>
						<li>Middle-Eastern</li>
						<li>Mixed</li>
						<li>White</li>
						<li>Prefer not to state</li>
					</ol>
					<strong>Character Codes</strong>
					<p>Apparent Gender</p>
					<ol>
						<li>Very Masculine</li>
						<li>Masculine</li>
						<li>Neutral</li>
						<li>Feminine</li>
						<li>Very Feminine</li>
						<li>Prefer not to state</li>
					</ol>
					<p>Apparent Race</p>
					<ol>
						<li>Asian</li>
						<li>Black</li>
						<li>Green</li>
						<li>Latinx</li>
						<li>Middle-Eastern</li>
						<li>Mixed</li>
						<li>White</li>
						<li>I don't know</li>
					</ol>
					<p>Apparent Species</p>
					<ol>
						<li>Cyborg</li>
						<li>Elf</li>
						<li>Goblin</li>
						<li>Human</li>
						<li>Half-Genie</li>
						<li>Vampire</li>
						<li>I don't know</li>
					</ol>
				</div>
			</form>
		</div>
	</div>
</div>